spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/demodb?currentSchema=company
    username: db_user
    password: user123

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true

  springdoc:
    swagger-ui:
      enabled: true
    api-docs:
      enabled: true

  logging:
    level:
      org.springframework.security: DEBUG
      org.hibernate.SQL: DEBUG


